<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body class="py-5">
    <div class=" container">
        <div class="hero text-center my-4">
            <h1 class="display-5"><i class="bi bi-emoji-frown text-danger mx-3"></i></h1>
            <h1 class="display-5 fw-bold">500 Internal Server Error</h1>
            <p class="lead">Sorry, it's me, not you :(<em><span id="display-domain"></span></em>
            </p>
            <p>
                <a href="/">
                    <btn class="btn btn-outline-success btn-lg">Try starting your journey again
                </a></btn>
        </div>
    </div>
</body>